# You can use a .env file to fix the CloudFormation Stack Name you use to deploy
# and run remote tests.
#
# If you specify STACK_NAME this will be used both at deploy time, and when you run
# remote tests
#
# STACK_NAME=coffee-store-cdk
#
#
# If you specify STACK_NAME_PREFIX_FOR_REMOTE_TESTS this will make remote-tests deploy an ephemeral
# stack for just that test run (the stack will be torn down after the tests).
# The full stack name will of the form my-prefix-20260329-143022)
#
# STACK_NAME_PREFIX_FOR_REMOTE_TESTS=my-prefix
#
# If you specify BOTH a STACK_NAME and STACK_NAME_PREFIX_FOR_REMOTE_TESTS in the environment (the combination
# of your .env plus any external environment variables) then when running just deploy STACK_NAME
# is used, but when running remote tests STACK_NAME_PREFIX_FOR_REMOTE_TESTS takes priority.
